<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>

        <H1>Enter your details for your component </H1> <br>
        Code &emsp;&emsp;&emsp; <input type="text" name="code"/> <br><br>
        Characteristics <input type="text" name="characteristics"/> <br><br>
        Quantity &emsp; <input type="text" name="quantity" /> <br><br>
        <input type="submit">
        <input type="button" onclick="window.location.href='/';" value="home page" />


    </center>
</form>
</BODY>
</HTML>
